@media screen and (min-width: 680px) {
  nav ul li {
    font-size: 1rem;
  }

  nav a {
    padding-left: 10%;
  }

  #overlay {
    text-align: center;
    display: block;
    position: relative;
    margin: 0;
    bottom: 0;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding-top: 2%;
    overflow: hidden;
  }

  #overlay h1 {
    font-size: 4vw;
    font-weight: 200;
  }

  #overlay ul {
    list-style: none;
    font-size: 2.5vw;
    padding: 0 1.125% 1% 1.125%;
  }

  #overlay ul li {
    display: inline-block;
    padding: 0 1%;
  }

  .dot {
    margin: 0;
    padding: 0;
    font-size: 4vw;
  }

  .hiw-list {
    float: left;
    width: 16%;
    margin: 1%;
    padding: 1%;
    height: 10%;
  }

  .hiw-list p {
    font-size: 1.75vw; 
  }

  .arrow {
    float: left;
    display: block;
    margin-top: 4%;
    max-width: 5%;
  }

  #look-for-job p {
    font-size: 2vw;
  }
}