@media screen and (max-width: 1160px) {
	
	/********************************************************************

				Header Wrap Styles - div#wrap-head
			<div id="wrap-head">
				<header>
					<div id="logo"></div>
					<nav></nav>
				</header>
				<div id="post-a-job"></div>
				<div id="overlay"></div>
			</div>

	 *********************************************************************/

	#wrap-head {
		height: 30em;
	}

	nav {
		height: 2.75em;
	}

	nav ul {
		margin-right: 3em;
		padding: 0.85em 0;
	}

	nav ul li {
		margin-right: 16px;
	}

	nav a {
		font-size: 0.925em;
	}

	#logo img {
		width: 80%;
	}

	#post-a-job {
		margin-left: 8em;
		bottom: 7.5em;
	}

	#post-a-job h2 {
		font-size: 1.5em;
	}

	#post-a-job p {
		line-height: 1em;
		letter-spacing: 0;
	}

	.link {
		margin: 1em 0 0 0;
	}

	.link-button {
		padding: 0.5em 2em;
		font-size: 1em;
	}

	#overlay {
		height: 5em;
		padding: 1em 0;
	}

	#overlay span {
		font-size: 1.75em;
		margin-bottom: 0.75em;
	}

	#overlay ul {
		font-size: 0.85em;
		margin-top: 0.7em;
	}

	#overlay li {
		padding: 0 0.425em;
	}


	/********************************************************************

						Section Styles
						<div id="sections">
							<section id="how-it-works"></section>
							<section id="look-for-job"></section>
							<section id="partners"></section>
						</div>

	*********************************************************************/

	section {
		height: 20em;
		padding-top: 2em;
	}

	#how-it-works h2, #look-for-job h2, #partners h2 {
		font-size: 2.5em;
		margin-bottom: 1em;
	}

	#how-it-works {
		font-size: 1em;
	}

	#look-for-job {
		padding: 3em 0 2.5em;
	}

	#look-for-job p {
		font-size: 1em;
	}

	#look-for-job p:nth-child(3) {
		margin-bottom: 20px;
	}

	#partners {
		/*margin: 30px 10px;*/
		/*margin-top: 40px;*/
		padding: 10px 40px;
		box-sizing: border-box;
	}

	#partners li {
		margin: 16px 0.2em;
		padding: 0 12px;
	}
}



@media screen and (max-width: 908px) {
	#wrap-head {
		height: 26em;
	}

	#logo img {
		width: 60%;
	}

	#post-a-job {
		margin-left: 7em;
		bottom: 6em;
	}

	.arrow img {
		display: none;
		margin: 0;
		width: 0;
	}
}


@media screen and (max-width: 787px) {
	#wrap-head {
		height: 20em;
	}
}



